<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (visit(); as visitRef) {
      <div>
        <h2 data-cy="visitDetailsHeading"><span jhiTranslate="petclinicApp.visitVisit.detail.title">Visit</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ visitRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="petclinicApp.visitVisit.visitDate">Visit Date</span></dt>
          <dd>
            <span>{{ visitRef.visitDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="petclinicApp.visitVisit.description">Description</span></dt>
          <dd>
            <span>{{ visitRef.description }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/visit', visitRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
