<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (pet(); as petRef) {
      <div>
        <h2 data-cy="petDetailsHeading"><span jhiTranslate="petclinicApp.customerPet.detail.title">Pet</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ petRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="petclinicApp.customerPet.name">Name</span></dt>
          <dd>
            <span>{{ petRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="petclinicApp.customerPet.birthDate">Birth Date</span></dt>
          <dd>
            <span>{{ petRef.birthDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="petclinicApp.customerPet.type">Type</span></dt>
          <dd>
            @if (pet()!.type) {
              <div>
                <a [routerLink]="['/pet-type', pet()!.type?.id, 'view']">{{ petRef.type?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="petclinicApp.customerPet.owner">Owner</span></dt>
          <dd>
            @if (pet()!.owner) {
              <div>
                <a [routerLink]="['/owner', pet()!.owner?.id, 'view']">{{ petRef.owner?.lastName }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/pet', petRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
