<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-owner-heading" data-cy="OwnerCreateUpdateHeading" jhiTranslate="petclinicApp.customerOwner.home.createOrEditLabel">
        Create or edit a Owner
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="petclinicApp.customerOwner.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let firstNameRef = editForm.get('firstName')!;
        <div class="mb-3">
          <label class="form-label" for="field_firstName" jhiTranslate="petclinicApp.customerOwner.firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          @if (firstNameRef.invalid && (firstNameRef.dirty || firstNameRef.touched)) {
            <div>
              @if (editForm.get('firstName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('firstName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '30' }"
                  >This field cannot be longer than 30 characters.</small
                >
              }
            </div>
          }
        </div>

        @let lastNameRef = editForm.get('lastName')!;
        <div class="mb-3">
          <label class="form-label" for="field_lastName" jhiTranslate="petclinicApp.customerOwner.lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
          @if (lastNameRef.invalid && (lastNameRef.dirty || lastNameRef.touched)) {
            <div>
              @if (editForm.get('lastName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('lastName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '30' }"
                  >This field cannot be longer than 30 characters.</small
                >
              }
            </div>
          }
        </div>

        @let addressRef = editForm.get('address')!;
        <div class="mb-3">
          <label class="form-label" for="field_address" jhiTranslate="petclinicApp.customerOwner.address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
          @if (addressRef.invalid && (addressRef.dirty || addressRef.touched)) {
            <div>
              @if (editForm.get('address')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('address')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let cityRef = editForm.get('city')!;
        <div class="mb-3">
          <label class="form-label" for="field_city" jhiTranslate="petclinicApp.customerOwner.city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
          @if (cityRef.invalid && (cityRef.dirty || cityRef.touched)) {
            <div>
              @if (editForm.get('city')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('city')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '80' }"
                  >This field cannot be longer than 80 characters.</small
                >
              }
            </div>
          }
        </div>

        @let telephoneRef = editForm.get('telephone')!;
        <div class="mb-3">
          <label class="form-label" for="field_telephone" jhiTranslate="petclinicApp.customerOwner.telephone">Telephone</label>
          <input type="text" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
          @if (telephoneRef.invalid && (telephoneRef.dirty || telephoneRef.touched)) {
            <div>
              @if (editForm.get('telephone')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('telephone')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '20' }"
                  >This field cannot be longer than 20 characters.</small
                >
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
